.avatar {
  min-height: 120px;
  max-width: 120px;
  width: 100%;
  background-repeat: no-repeat;
  border-radius: 50%;
  z-index: 1;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  position: relative;
}

@media screen and (max-width: 1066px) {
  .avatar {
    -ms-grid-column-align: center;
    justify-self: center;
  }
}
