.profile-info {
  max-width: 336px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 294px 18px 1fr;
  grid-template-columns: 294px 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  grid-auto-rows: auto;
  row-gap: 16px;
  -webkit-column-gap: 18px;
  -moz-column-gap: 18px;
  column-gap: 18px;
}
.profile-info > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.profile-info > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

@media screen and (max-width: 767px) {
  .profile-info {
    max-width: 282px;
    row-gap: 14px;
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
    -ms-grid-columns: 189px 10px 18px;
    grid-template-columns: 189px 18px;
    -ms-grid-column-align: center;
    justify-self: center;
  }
}
